{% load staticfiles %}

<script src="{% static 'app/scripts/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/respond.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/openapi.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/angular.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.js" type="text/javascript"></script>
<script src="{% static 'app/scripts/angular-ui-router.min.js' %}" type="text/javascript"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.2.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    
<script src="{% static 'vk_auth/vk.js' %}" type="text/javascript"></script>
<script src="{% static 'vk_auth/vk.services.js' %}" type="text/javascript"></script>

<script src="{% static 'attach_songs/js/attachsongs.controllers.js' %}" type="text/javascript"></script>
<script src="{% static 'attach_songs/js/attachsongs.services.js' %}" type="text/javascript"></script>
<script src="{% static 'attach_songs/js/attachsongs.js' %}" type="text/javascript"></script>
