<div class="col-xs-12">
    <div ui-grid="asCtrl.grid" ui-grid-selection></div>
</div>

<div class="col-xs-12" style="margin-top:12px">
    <p>You may attach tracks by their ids. For this you need open album in vk.com site, press key <code>F12</code>, select Console tab, insert following code in command line and press <code>Enter</code>:</p>
    <pre>var div = document.createElement('script');
div.setAttribute('src', 'https://yandex.st/jquery/1.10.1/jquery.min.js');
document.body.appendChild(div);
var res = [];</pre>
    <p>After few seconds insert next code, press <code>Enter</code> and you get ids list in console log:</p>
    <pre>res = [];
$('div.audio_row').each((index, elem) =>
res[index] = $(elem).attr('data-full-id'));
$('a.audio_performer').each((index, elem) =>
res[index] += ' ' + $(elem).text());
$("span[class='audio_title_inner']").each((index, elem) =>
res[index] += " - " + $(elem).attr('aria-label'));
res.join('\n');</pre>
    <p>If you get any error, refresh the album page and try make this steps again.</p>
</div>