{% load staticfiles %}

<script src="{% static 'move_songs/scripts/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'move_songs/scripts/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'move_songs/scripts/respond.js' %}" type="text/javascript"></script>
<script src="{% static 'move_songs/scripts/angular.min.js' %}" type="text/javascript"></script>
<script src="{% static 'move_songs/scripts/openapi.js' %}" type="text/javascript"></script>

<script src="{% static 'move_songs/js/vk.js' %}" type="text/javascript"></script>
<script src="{% static 'move_songs/js/movesongs.services.js' %}" type="text/javascript"></script>
<script src="{% static 'move_songs/js/movesongs.js' %}" type="text/javascript"></script>